@use './variables';

/* pages */
@use './pages/home';
@use './pages/error';

/* components */
@use './components/modale';
@use './components/projects';
@use './components/skills';
@use './components/contact';
@use './components/card';
@use './components/aboutMe';
@use './components/welcomeBanner';
@use './components/button';
@use './components/header';

body {
  margin: 0;
  padding: 0;

  .root-layout {
    background-color: variables.$main-color;
    font-family: variables.$main-font;
    color: variables.$primary-font-color;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    gap: 50px;

    .title {
      margin: 0;
      font-size: 36px;
      font-weight: 700;

      @media (width <= 480px) {
        font-size: 24px;
      }
    }

    .subtitle {
      margin: 0;
      font-size: 24px;
      font-weight: 700;

      @media (width <= 480px) {
        font-size: 18px;
      }
    }

    h2 {
      font-size: 36px;
      font-weight: 700;

      @media (width <= 480px) {
        font-size: 24px;
      }
    }

    h3 {
      font-size: 24px;
      font-weight: 700;

      @media (width <= 480px) {
        font-size: 18px;
      }
    }

    .hidden {
      display: none;
    }

    @media (width <= 768px) {
      gap: 27px;
    }
  }

  .nav-link.active {
    text-decoration: underline;
  }
}

html {
  scroll-behavior: smooth;
}
