@use './variables.scss';

/*pages*/
@use './pages/home.scss';
@use './pages/error.scss';

/*components*/
@use './components/modale.scss';
@use './components/projects.scss';
@use './components/skills.scss';
@use './components/contact.scss';
@use './components/card.scss';
@use './components/aboutMe.scss';
@use './components/welcomeBanner.scss';
@use './components/button.scss';
@use './components/header.scss';

body {
  margin: 0;
  padding: 0;

  .root-layout {
    background-color: variables.$main-color;
    font-family: variables.$main-font;
    color: variables.$primary-font-color;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    gap: 50px;

    .title {
      margin: 0;
      font-size: 36px;
      font-weight: 700;

      @media (max-width: 480px) {
        font-size: 24px;
      }
    }

    .subtitle {
      margin: 0;
      font-size: 24px;
      font-weight: 700;

      @media (max-width: 480px) {
        font-size: 18px;
      }
    }

    h2 {
      font-size: 36px;
      font-weight: 700;

      @media (max-width: 480px) {
        font-size: 24px;
      }
    }

    h3 {
      font-size: 24px;
      font-weight: 700;

      @media (max-width: 480px) {
        font-size: 18px;
      }
    }

    .hidden {
      display: none;
    }

    @media (max-width: 768px) {
      gap: 27px;
    }
  }

  .nav-link.active {
    text-decoration: underline;
  }
}

html {
  scroll-behavior: smooth;
}
