@use '../variables';

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
  background-color: variables.$secondary-color;
  border-radius: 10px;

  .line {
    @include variables.line(variables.$tertiary-color);
  }

  @media (width <= 780px) {
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
  }

  p {
    margin: 0 100px;
    text-align: center;
    font-size: bolder;

    @media (width <= 780px) {
      margin: 0 40px;
    }
  }
}
