@use '../variables';

figure {
  background: #fff;
  display: inline-block;
  margin: 55px 30px 40px;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
  transition: all 0.2s linear;
  cursor: pointer;
  position: relative;

  @media (width <= 938px) {
    margin: 55px 0 40px;
  }
}

.card {
  color: variables.$primary-font-color;
}

figcaption {
  color: #333;
  font-size: 25px;
  position: relative;
  top: 15px;
}

figure img {
  display: block;
  width: 250px;

  @media (width <= 938px) {
    width: 100%;
  }
}

figure:hover {
  transform: scale(1.2);
  box-shadow: 0 10px 20px rgb(0 0 0 / 70%);
}
